/* body { background-color: lightblue; } */
#hellow     {
            text-align: center;
            }

.background1    {
                color: grey;
                }
.background2    {
                color: #efee0e;
                }
.background3    {
                color: lightyellow;
}
#main-body  {
            background-color: #61ef16;
            text-align: center;
            margin: 10px 10px 10px 10px;
            }
#header     {
            background-color: #df05ef;
            border-style: solid;
            margin: 10px 5px 10px 2px;
            }
#navigation {
            background-color: #1aefc3;
            border-style: solid;
            margin: 10px 10px 5px 10px;
            padding: 5px 5px 5px 5px;
            }
#section1   {
            background-color: #efe10a;
            border-style: solid;
            margin: 2px 2px 5px 2px;
            float: left;

            }
#header1    {
            background-color: #6def0e;
            border-style: solid;
            margin: 10px 10px 5px 10px;
            padding: 10px 10px 10px 10px;
            }
#navigation1    {
                background-color: #1aefc3;
                border-style: solid;
                margin: 10px 10px 10px 10px;
                padding: 300px 80px 300px 80px;
                }
#footer1    {
            background-color: #6def0e;
            border-style: solid;
            margin: 10px 10px 10px 10px;
            padding: 10px 10px 10px 10px;
            }
#section2   {
            background-color: #efe10a;
            border-style: solid;
            margin: 10px 10px 10px 10px;
            float: right;


}